output
test_data

.idea/
.venv
entrainment_config.pyc
__pycache__

# Output data files:
models/triplet/prep/data
models/NED/data
feats/data

feats/models
models/NED/models
models/triplet/train/models
models/triplet/prep/pykaldi
models/triplet/prep/kaldi
models/triplet/prep/0007_voxceleb_v1_1a
models/triplet/prep/ivector_extract
models/triplet/prep/ivector-xvector



*.DS_Store
*.csv
*.wav
*.mp3
*.txt
*.pt
*.h5
*.egg-info
*.scp
