# software files to ignore
kaldi/
pykaldi/
opensmile/
Miniconda3-latest-Linux-x86_64.sh
smile.log
.vscode/
.idea/
.venv
venv
entrainment_config.pyc
__pycache__
.entrainment

# Input data files
Asist3_data_management/entrainment_annotations
Asist3_data_management/files_for_dyad_generation
Asist3_data_management/entrainment_annotations

# Output data files:
data/
output_models/
runs/
output/
test_data/

# extensions to ignore
*.zip
*.DS_Store
*.csv
*.wav
*.mp3
*.txt
*.pt
*.h5
*.egg-info
*.scp
